{% extends 'carapp/main.html' %}
{% load static %}
{% block content %}
<head>
  <title>Auto</title>
  <link rel="stylesheet" href="{% static '../static/form.css' %}" />
</head>
<div class="min-vh-100 d-flex align-items-center">
  <div class="container">
    <div class="col-md-5 wrapper bg-white shadow-lg">
      <h4 class="pb-4 border-bottom">Resetowanie hasła</h4>
      <form>
        <div class="col-md-12 pt-3">
          <div>
            <div class="input-group mb-3">
              <div class="form-text text-muted">
                Link do zresetowania twojego hasła został wysłany na twój adres e-mail. Jeżeli nie otrzymałeś wiadomości sprawdź poprawność wpisanego adresu.
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}