{% extends 'carapp/main.html' %}
{% load static %}
{% block content %}
<head>
  <title>Auto</title>
  <link rel="stylesheet" href="{% static '../static/form.css' %}" />
  <script
    type="text/javascript"
    src="{% static '../static/showPassword.js' %}"
  ></script>
</head>
<div class="min-vh-100 d-flex align-items-center">
  <div class="container">
    <div class="col-md-5 wrapper bg-white shadow-lg">
      <h4 class="pb-4 border-bottom">Zmiana hasła</h4>
      <form method="post">
        {% csrf_token %}
        <div class="col-md-12 pt-3">
          <div>
          <label for="email" class="mb-1">Email</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
            </div>
            {{ form.email }}
            <div class="form-text text-muted">
              Po kliknięciu "Zmień hasło" wyślemy link na twoją pocztę do zmiany hasła
          </div>
          </div>
        </div>
          <div class="py-3 pb-2">
            <input type="submit" value="Wyślij e-mail" class="w-100 btn btn-primary"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}