{% extends 'carapp/main.html' %}
{% load static %}
{% block content %}
<head>
  <title>Auto</title>
  <link rel="stylesheet" href="{% static '../static/form.css' %}" />
</head>
<div class="min-vh-100 d-flex align-items-center">
  <div class="container">
    <div class="col-md-5 wrapper bg-white shadow-lg">
      <h4 class="pb-4 border-bottom">Resetowanie hasła</h4>
      {% if validlink %}
        <form method="post">
          {% csrf_token %}
          <div class="col-md-12 pt-3">
            <div>
              <div class="input-group mb-3">
                <div class="form-text text-muted">
                  {{ form.as_p }}
                  <p><input type="submit" value="Change my password" /></p>
                </div>
              </div>
            </div>
          </div>
        </form>
      {% else %}
        <p>Link do resetowania hasła jest niepoprawny. Możliwe, że został już użyty. Spróbuj zresetować hasło ponownie.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}