{% extends 'carapp/main.html' %} {% load static %} {% block content %}
<head>
  <title>Auto</title>
  <link rel="stylesheet" href="{% static '../static/form.css' %}" />
  <link rel="stylesheet" href="{% static '../static/profile.css' %}" />
</head>
<div class="min-vh-100 d-flex align-items-center">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="wrapper text-center bg-white shadow-lg mb-4">
          <img
            src="{{ advert.owner.profile_image.url }}"
            alt="avatar"
            class="rounded-circle img-fluid border border-dark"
            style="width: 150px"
          />
          <h5 class="my-3">{{ advert.owner.name }}</h5>
          <p class="text-muted mb-1">{{ advert.owner.seller }}</p>
          <p class="text-muted mb-1">{{ advert.owner.phone_number }}</p>
          <p class="text-muted mb-1">{{ advert.owner.email }}</p>
          <p class="text-muted mb-1">{{ advert.owner.location_city }} / {{ advert.owner.location_country }}</p>
          <p class="text-muted mb-1">Sprzedawca od {{ advert.owner.created|date:"M d, Y"}}</p>
        </div>
        <div class="wrapper text-center bg-white shadow-lg mb-4 p-0">
          <div class="d-flex flex-column p-3">
            <button type="button" class="btn btn-primary w-100 mb-3">
              <a class="nav-link mx-2" href="#"
                >Inne oferty sprzedającego</a
              >
            </button>
            {% if request.user.is_authenticated %}
              <button type="button" class="btn btn-primary w-100 mb-3">
                <a class="nav-link mx-2" href="{% url 'price_reminder' advert.id %}">
                  Powiadom o zmianie ceny
                </a>
            {% endif %}
            </button>
            <button type="button" class="btn btn-primary w-100 mb-3">
              <a class="nav-link mx-2" href="{% url 'contact_advert' advert.id %}">
                Poproś o kontakt
              </a>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="wrapper bg-white shadow-lg mb-4">
          <h4 class="py-4 border-bottom">{{ advert.title }}</h4>
          <div
            id="carouselExampleIndicators"
            class="carousel slide carousel-fade"
            data-bs-ride="carousel"
          >
            <div id="second-advert" class="carousel slide">
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#second-advert"
                  data-bs-slide-to="0"
                  class="active"
                ></button>
                <button
                  type="button"
                  data-bs-target="#second-advert"
                  data-bs-slide-to="1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#second-advert"
                  data-bs-slide-to="2"
                ></button>
              </div>
              <div class="carousel-inner rounded d-block">
                <div class="carousel-item active">
                  <img
                    class="card-img-top d-block"
                    src="{{ advert.featured_image1.url }}"
                    alt=""
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="card-img-top d-block"
                    src="{{ advert.featured_image2.url }}"
                    alt=""
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="card-img-top d-block"
                    src="{{ advert.featured_image3.url }}"
                    alt=""
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Poprzednie</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Nastęne</span>
              </button>
            </div>
            <div>
              <span>{{ advert.created }}</span>
              <span>
                <span class="fw-bold">ID: </span>
                {{ advert.id }}
              </span>
              <span style="margin-left:40px;"><a href="{% url 'add_to_favorite' advert.id %}">Dodaj do ulubionych</a></span>
            </div>
            <h4 class="py-4 border-bottom">
              Cena:<span class="ms-2 py-4 text-danger fw-bold">{{ advert.price }} PLN</span>
            </h4>
            <h4 class="py-4 border-bottom">Szczegóły</h4>
            <div class="row">
              <div class="col-sm-6">
                <ul>
                  <li class="details">
                    <span class="text-primary">Marka:</span>
                    <span>{{ advert.brand|title }}</span>
                  </li>
                  <li class="details">
                    <span class="text-primary">Model:</span>
                    <span>{{ advert.variant|title }}</span>
                  </li>
                  <li class="details">
                    <span class="text-primary">Rok produkcji:</span>
                    <span>{{ advert.first_registration }}</span>
                  </li>
                  <li class="details">
                    <span class="text-primary">Pojemność skokowa:</span>
                    <span>{{ advert.engine_capacity }} cm3</span>
                  </li>
                  <li class="details">
                    <span class="text-primary">Moc:</span>
                    <span>{{ advert.power }} KM</span>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul>
                  <li class="details">
                    <span class="text-primary">Rodzaj paliwa:</span>
                    <span>{{ advert.fuel_type }}</span>
                  </li>
                  <li class="details">
                    <span class="text-primary">Przebieg:</span>
                    <span>{{ advert.mileage }} km</span>
                  </li>
                  <li class="details">
                    <span class="text-primary">Bezwypadkowy:</span>
                    <span>{{ advert.no_crashed }}</span>
                  </li>
                  <li class="details">
                    <span class="text-primary">Kolor:</span>
                    <span>{{ advert.color|title }}</span>
                  </li>
                  <li class="details">
                    <span class="text-primary">Liczba drzwi:</span>
                    <span>{{ advert.num_of_doors }}</span>
                  </li>
                  <li class="details">
                    <span class="text-primary">Typ koloru:</span>
                    <span>{{ advert.color_type|title }}</span>
                  </li>
                </ul>
              </div>
              <h4 class="pb-4 border-bottom">Opis</h4>
              <p class="description">
                {{ advert.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}